

Create an environment
> mkdir myproject
> cd myproject
> py -3 -m venv venv

Activate environment
> venv\Scripts\activate

Install Flask
> pip install Flask

More information in https://flask.palletsprojects.com/en/2.0.x/installation/

